<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link href="web fonts/eraser_regular_macroman/stylesheet.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<link rel="stylesheet" href="../css/style.css">
	<title>RUN-ON</title>
</head>
<style>
</style>

<body>
	<!-- main body container -->
	<div class="container">
		<!-- heading row -->
		<div class="row heading">
			<div class="col-md-12">
				<!-- heading title -->
				<h1>WELCOME TO</h1>
				<br>
				<h2>RUN-ON!</h2>
			</div>
		</div>
		<div class="row">
			<!-- active games -->
			<div class="col-md-8">
				<!-- games title -->
				<div class="row content">
					<h3>Active Run-Ons</h3>
				</div>
				<!-- games links -->
				<div id="games" class="row content">

				</div>
			</div>
			<!-- new game and top games -->
			<div class="col-md-4">
				<!-- button row -->
				<div class="row">
					<button id="newgamebtn" class="newgamebutton" type="button"></button>
					<button id="topgamesbtn" class="topgamesbutton" type="button"></button>
				</div>
			</div>

		</div>

	</div>
	<script src="../../routing/htmlRoutes.js"></script>
</body>

</html>