<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link href="web fonts/eraser_regular_macroman/stylesheet.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/style3.css">
	<title>RUN-ON</title>
</head>
<style>
</style>

<body>
	<!-- main body container -->
	<div class="container">
		<!-- heading row -->
		<div class="row heading">
			<div class="col-md-2">
				<button id="mainmenubtn" class="mainmenubtn" type="button"></button>
			</div>
			<div class="col-md-10">
				<h1>FINISHED GAMES</h1>
			</div>
		</div>
		<div class="row heading">
			<!-- number of votes title -->
			<div class="col-md-2">
				<h2>Votes</h2>
			</div>
			<!-- phrases title -->
			<div class="col-md-10">
				<h2>Phrases</h2>
			</div>
		</div>
		<div class="row heading">
			<!-- votes placeholer -->
			<div class="col-md-2">
				<h3>10</h3>
			</div>
			<!-- phrases place holder -->
			<div class="col-md-10">
				<h3>Den her er et godt example af en side vor du can gore godt tingerne. Det er jo fint at bar prove at gore noget code at
					er fint men det er bar for profesinal personer.</h3>
			</div>
		</div>
	</div>
	<script src="../../routing/htmlRoutes.js"></script>
</body>

</html>