<!-- main body container -->
<div class="container">
	<!-- heading row -->
	<div class="row heading">
		<div class="col-md-12">
			<!-- heading title -->
			<h1 class="pageoneheader">WELCOME TO</h1>
			<br>
			<h2 class="pageoneheader2">RUN-ON!</h2>
		</div>
	</div>
	<div class="row">
		<!-- active games -->
		<div class="col-md-8">
			<!-- games title -->
			<div class="row content">
				<h3 class="pageoneheader3">Active Run-Ons</h3>
			</div>
			<!-- games links -->
			<div id="games" class="row content">

			</div>
		</div>
		<!-- new game and top games -->
		<div class="col-md-4">
			<!-- button row -->
			<div class="row">
				<button id="newgamebtn" class="newgamebutton" type="button"></button>
				<button id="topgamesbtn" class="topgamesbutton" type="button"></button>
			</div>
		</div>

	</div>

</div>