<div class="container">
	<!-- heading row -->
	<div class="row heading">
		<div class="col-md-2">
			<button id="mainmenubtn" class="mainmenubtn" type="button"></button>
		</div>
		<div class="col-md-10">
			<h1 class="pagethreeheader">FINISHED GAMES</h1>
		</div>
	</div>
	<div class="row heading">
		<!-- number of votes title -->
		<div class="col-md-2">
			{{!-- <h2 class="pagethreeheader2">Votes</h2> --}}
		</div>
		<!-- phrases title -->
		<div class="col-md-10">
			<h2 class="pagethreeheader2">Phrases</h2>
		</div>
	</div>
	<div class="container">

	<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!--
			<h3 class="pagethreeheader3">10</h3> --}}
		</div>

		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">The fast and the flatulant.</h3>
		</div>

	</div>
		<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!--
			<h3 class="pagethreeheader3">10</h3> --}}
		</div>

		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">Everybody should start the day with a big bowl of nutritious weed.</h3>
		</div>

	</div>
		<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!--
			<h3 class="pagethreeheader3">10</h3> --}}
		</div>

		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">Fluffy does not belong on pizza!</h3>
		</div>

	</div>
		<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!--
			<h3 class="pagethreeheader3">10</h3> --}}
		</div>

		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">You say goodbye and I say NICE</h3>
		</div>

	</div>
		<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!--
			<h3 class="pagethreeheader3">10</h3> --}}
		</div>

		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">Make sure you call your mom and thank her for money</h3>
		</div>

	</div>
		<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!--
			<h3 class="pagethreeheader3">10</h3> --}}
		</div>

		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">How can I study when i'm so destracted by Run-Ons</h3>
		</div>

	</div>
</div>

</div>