<div class="container">
	<!-- heading row -->
	<div class="row heading">
		<div class="col-md-3">
			<button id="mainmenubtn" class="backbtn" type="button"></button>
		</div>
		<div class="col-md-6">
			<!-- heading title -->
			<h1 class="pagetwoheader">GAME NAME:</h1>
		</div>
		<div class="col-md-3">
			<!-- heading title -->
			<h2 class="pagetwoheader2">Name of game place holder</h2>
		</div>
	</div>
	<div class="row">
		<!-- palce holder phrases -->
		<div class="col-md-12">
			<h3 class="pagetwoheader3">Den her er et godt example af en side vor du can gore godt tingerne. Det er jo fint at bar prove at gore noget code at
				er _________________fint men det er bar for profesinal personer.</h3>
		</div>
	</div>
	<div class="row">
		<!-- palce holder back button -->
		<!-- <div class="col-md-3">
				<button class="backbtn" type="button"></button>
			</div> -->
		<!-- palce holder words -->
		<div class="col-md-7 words">
			{{!-- <button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button> --}}
		</div>
		<div class="col-md-2">
			<!-- palce holder finish button -->
			<button id="skipbtn" class="skipbtn" type="button"></button>
		</div>
		<div class="col-md-2">
			<!-- palce holder finish button -->
			<button id="topgamesbtn" class="finishbtn" type="button"></button>
		</div>
	</div>

</div>


</div>