<div class="container">
	<!-- heading row -->
	<div class="row heading">
		<div class="col-md-2">
			<button id="mainmenubtn" class="mainmenubtn" type="button"></button>
		</div>
		<div class="col-md-10">
			<h1 class="pagethreeheader">FINISHED GAMES</h1>
		</div>
	</div>
	<div class="row heading">
		<!-- number of votes title -->
		<div class="col-md-2">
			{{!-- <h2 class="pagethreeheader2">Votes</h2> --}}
		</div>
		<!-- phrases title -->
		<div class="col-md-10">
			<h2 class="pagethreeheader2">Phrases</h2>
		</div>
	</div>
	<div class="row heading">
		<!-- votes placeholer -->
		<div class="col-md-2">
			{{!-- <h3 class="pagethreeheader3">10</h3> --}}
		</div>
		<!-- phrases place holder -->
		<div class="col-md-10">
			<h3 class="pagethreeheader3">Den her er et godt example af en side vor du can gore godt tingerne. Det er jo fint at bar prove at gore noget code at
				er fint men det er bar for profesinal personer.</h3>
		</div>
	</div>
</div>